SUPABASE_URL=https://<project>.supabase.co
SUPABASE_SERVICE_KEY=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=

SEMANTIC_SCHOLAR_API_KEY=
ANTHROPIC_API_KEY=

GROQ_API_KEY=
GEMINI_API_KEY=
OPENROUTER_API_KEY=
